mixin questioncard(name)
	div.question-card
		div.question-head
			div 
				h3 How to add timestamps to mongoose schema subfields?
		div.description 
			div I'm trying to add createdAt and updatedAt timestamps in subfields of otp in generate: {} and verify:{}...
		div.question-details
			div.question-addones
				div.date Feb 10 '2019 at 9:10
				div.popularity
					div.view 10 Views
					div.response 2 Response(s)
			div.askedBy 
				img(src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80", height=100, width=100, alt="alt")
				div #{name}