<!DOCTYPE html>
include mixins/navigationBar
block common_vars
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Concept Corner|#{pageName}
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js")
		script(src="https://cdn.quilljs.com/1.3.6/quill.js")
		link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css", rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai-sublime.min.css", rel="stylesheet")
		link(rel="stylesheet", href="/css/navigation.css")
		script(src="/js/signup.js")
	body
		+navigationBar(authLink, user)
		block container