extends layout.pug
include mixins/questionCard
block head 
	title Concept Corner
	link(rel="stylesheet", href="/css/questionCard.css")
block container
	div.row
		.col.page
			.col-8.post-btn
				if user
					a(href="/postQuestion")
						.btn
							button.primary-btn Post Question
			each question in questions
				+questionCard(question)