include mixins/navigationBar
block common_vars

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/navigation.css")
		link(rel="stylesheet", href="/css/index.css")
		link(href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		script(src="https:////cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js")
		script(src="js/DOMUtils.js")
		script(src="/js/index.js")

		block head

	body

		+navigationBar(authLink, user)
		.container
				block container