extends home.pug
block common_vars
	- var authLink= authHref
	- var pageName="Post Question"
	- var details=userDetails
block container
	.container
		.header
			h2.header-text Post your question
			hr
		.question
			.inputBox
				input#title(type="text", name="title",value="" onchange='checkUserName(this)' onfocus='addContentActive(event)',onblur='checkContent()')
				label(for="username") Heading
					span.required *
				br
			p.errorMsg#errorTitle
			br
			#editor-container
			script(src="js/editor.js")
			.btn
				button.primary-btn(type='button' , onclick="postQuestion()") Post Question
				a(href=cancelUrl)
					button.cancel-btn(type='button') Cancel
