extends home.pug
block container
	h2 Post your question
	input#title(type="text")
	br
	span.errorMsg#errorTitle
	br
	#editor-container(style="height:375px")
	script(src="js/editor.js")
	button(type='button' , onclick="postQuestion()") Submit
	a(href='/' + cancelUrl)
		button(type='button') Cancel
