extends home.pug
block common_vars
	- var authLink= authHref
	- var pageName="Post Question"
	- var details=userDetails
block container
	.container
		.header
			h2.header-text Post your question
			hr
		.question
			.title
				span.placeholder Title
				span.required *
				input#title(type="text")
				br
			p.errorMsg#errorTitle
			br
			#editor-container
			script(src="js/editor.js")
			.btn
				button.primary-btn(type='button' , onclick="postQuestion()") Post Question
				a(href=cancelUrl)
					button.cancel-btn(type='button') Cancel
