extends layout.pug
block common_vars
	- var authLink= authHref
	- var details=userDetails
block head
	title Concept Corner | Post Question
	link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css", rel="stylesheet")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai-sublime.min.css", rel="stylesheet")
	link(rel="stylesheet", href="/css/postQuestion.css")
block container
	.row
		.col.page
			.col-8.header
				h2.header-text Post your question
				hr
			.col-8.question
				.col-12.inputBox
					input#title(type="text", name="title",value="" onchange='checkUserName(this)' onfocus='addContentActive(event)',onblur='checkContent()')
					label(for="username") Heading
						span.required *
				.errorMsg#errorTitle
				.col-12.desc
					#editor-container
				.col-12.inputBox
					input#tags(type="text", name="tags",value="" onchange='checkUserName(this)' onfocus='addContentActive(event)',onblur='checkContent()')
					label(for="username") Tags
				.col-4.btn
					button.primary-btn(type='button' , onclick="postQuestion()") Post Question
					a(href=cancelUrl)
						button.cancel-btn(type='button') Cancel

	script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js")
	script(src="https://cdn.quilljs.com/1.3.6/quill.js")
	script(src='/js/editor.js')
	script.
		createEditor()