extends home.pug
block container
  .question
    .q-title #{question.title}
    input#desc-hide(type="text" ,style="display:none", value= question.description )
    #q-desc
      script(src="/js/show.js")