body {
  font-family: sans-serif;
  margin: 0px;
  word-spacing: 4px;
  margin-bottom: 5rem;
}
.failure {
  padding: 0.2rem;
  color: red;
  font-size: 12px;
  padding-left: 1rem;
}
.success {
  color: green;
  padding: 0.2rem;
  font-size: 12px;
  padding-left: 1rem;
}

.requiredFieldError {
  border: 1px solid red !important;
}
.inputBox > label {
  position: absolute;
  font-size: 12px;
  color: gray;
}
.inputBox > input {
  position: relative;
  padding-top: 1rem;
}
.container {
  display: flex;
  flex-flow: column;
  width: 70%;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.details {
  width: 46%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 40rem;
}
.inputBox {
  position: relative;
}
.inputBox.content_active label {
  font-size: 12px;
  top: 0;
  padding-top: 3px;
}
.inputBox label {
  position: absolute;
  font-size: 1rem;
  z-index: 1;
  color: gray;
  top: 0.5rem;
  z-index: 0;
  left: 0.5rem;
  transition: all 0.3s ease;
}
.inputBox input{
  position: relative;
  padding: 0.5rem;
  padding-top: 1.4rem;
  width: 100%;
  font-size: 15px;
  padding-left: 1rem;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid lightgray;
  box-shadow: 0;
  z-index: 1;
  background: transparent;
}
.primary-btn {
  background-color: #3d8af7;
  height: 3em;
  width: 10em;
  border: none;
  color: white;
}
.upload-image {
  display: none;
}
.uploaded-image {
  height: 100px;
}

.post-btn {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 1vw;
}

.post-btn button {
  cursor: pointer;
}

.primary-btn {
  background-color: #3d8af7;
  height: 3em;
  width: 8em;
  border: none;
  color: white;
}


.primary-btn:disabled {
  background-color: #3d8bf794;
  height: 3em;
  width: 8em;
  border: none;
  cursor: not-allowed;
  color: white;
}

.cancel-btn {
  background-color: white;
  color: #b70f0a;
  border: 1px solid #b70f0a;
  margin-left: 3em;
  height: 3em;
  width: 8em;
  cursor: pointer;
}


.tags {
	margin-top:1rem ;
	padding-left: 1rem;
  display: flex;
}

.tag {
  margin-right: 2rem;
  padding: 0.2em 0.5em;
  background-color: #c9f1fd;
  border-radius: 0.2em;
}


.errorMsg {
  color: #b70f0a;
  font-size: small;
  padding-left: 1em;
}

.required {
  color: #b70f0a;
  padding-left: 0.2em;
}