body {
  font-family: sans-serif;
  margin: 0px;
}
.failure {
  color: red;
}
.success {
  color: green;
}

.requiredFieldError {
  border: 1px solid red;
}
.inputBox > label {
  position: absolute;
  font-size: 12px;
  color: gray;
}
.inputBox > input {
  position: relative;
  padding-top: 1rem;
}
.container {
  display: flex;
  flex-flow: row;
  width: 70%;
  justify-content: space-evenly;
  margin: 0 auto;
}
.details {
  width: 46%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 40rem;
}
.inputBox {
  position: relative;
}
.inputBox.content_active label {
  font-size: 12px;
  top: 0;
}
.inputBox label {
  position: absolute;
  font-size: 1rem;
  z-index: 1;
  color: gray;
  padding: 0.2rem;
  top: 0.7rem;
  z-index: 0;
  left: 0.5rem;
  transition: all 0.3s ease;
}
.inputBox>input{
  position: relative;
  padding: 0.5rem;
  padding-top: 1rem;
  width: 100%;
  padding-left: 1rem;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid lightgray;
  box-shadow: 0;
  z-index: 1;
  background: transparent;
}
.primary-btn {
  background-color: #3d8af7;
  height: 3em;
  width: 10em;
  border: none;
  color: white;
}
.upload-image{
  display: none;
}
.uploaded-image{
  height: 100px;
}
