.qp-container {
  margin: 0 6em;
  font-family: sans-serif;
}
.header-text {
  font-weight: 500;
}

.errorMsg {
  color: #b70f0a;
  font-size: small;
  padding-left: 1em;
}

.required {
  color: #b70f0a;
  padding-left: 0.2em;
}

.title {
  border: 0.1px solid #c2c2c4;
  height: 3.5em;
  width: 100%;
  margin-bottom: 4rem;
  padding: 0;
}

.placeholder {
  font-size: 0.7em;
  color: #c0c0c0;
  margin-left: 0.4em;
}

#title {
  height: 60%;
  width: 97%;
  font-size: large;
  padding-left: 0.4em;
  font-weight: 200;
  border: none;
  outline: none;
}

#editor-container {
  height: 23em;
}

.btn {
  margin-top: 2em;
}
