.question {
  margin: 0 auto;
  padding: 1rem 2rem;
  border: 0.1px solid #c2c2c4;
  width: 100%;
  margin-top: 2rem;
  box-sizing: border-box;
}

.q-title {
  border-bottom: 0.5px solid #c2c2c493;
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 0rem;
  line-height: 2.5rem;
}

#q-desc {
  font-size: 15px;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  width: 95%;
}

.q-detail {
  display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: #797979;
    width: 95%;
}

.date {
  margin-top: 0.2rem;
  color: #c2c2c2;
}

.answers {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.answer {
  width: 100%;
  border: 0.1px solid #c2c2c4;
  margin: 4rem auto;
}
.noOfAnswers{
  font-size: 1.5rem;
    margin-top: 3rem;
    line-height: 3.2rem;
    width: 100%;
    border-top: 3px solid lightgray;
}
.answer .a-detail{
  display: flex;
  margin: 0 auto;
  width: 95%;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.a-detail .user {
  align-self: flex-end;
}

.a-detail .description {
  border: none;
  font-size: 15px;
  width: 95%;
}
