h3 {
	margin: 0 auto;
}

.question-card {
	display: flex;
	flex-flow: column;
	border: 1px solid lightgray;
	justify-content: center;
	padding: 12px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
	box-sizing: border-box;
	width: 97%;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	border-radius: 5px;
}

.question-head a {
	text-decoration: none;
	color: #0f0f0f
}

.description {
	display: flex;
	flex-flow: row;
	align-items: center;
	color: darkslategrey;
}

.question-details {
	display: flex;
	flex-flow: row;
	width: 100%;
	justify-content: space-between;
	color: gray;
	align-items: center;
	margin-top: 1rem;
}

.question-addones {
	width: 50%;
}


.askedBy {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.popularity {
	display: flex;
	flex-flow: row;
	width: 40%;
	justify-content: space-between;
}

.askedBy>img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
