.question {
  flex-flow: column;
  padding: 1rem 2rem;
  border: 0.1px solid #e7e7e7;
  margin-top: 2rem;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  background: white;
}

.q-title {
  border-bottom: 0.5px solid #e7e7e7;
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 0rem;
  line-height: 2.5rem;
}

#q-desc {
  font-size: 15px;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
}

.q-detail {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #696969;
}
.q-detail .user {
  flex-flow: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

.q-detail .user * {
  align-self: start;
}

.date {
  margin-top: 0.2rem;
  color: #c2c2c2;
}

.answers {
  box-sizing: border-box;
  padding-bottom: 1rem;
  background: #f5f5f7;
}
.answer-card {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  background: white;
  border: 0.1px solid #e7e7e7;
  margin-top: 4rem;
}
.answer {
  background: white;
}
.noOfAnswers {
  font-size: 1.7rem;
  margin-top: 6rem;
  border-top: 3px solid #e7e7e7;
  font-weight: 700;
  background: #f5f5f7;
}
.noOfAnswers * {
  padding: 2rem 0 0 4rem;
}
.answer .a-detail {
  display: flex;
  margin: 0 auto;
  flex-flow: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #696969;
}
.a-detail .user {
  align-self: flex-end;
}

.a-detail .description {
  border: none;
  font-size: 17px;
  color: black;
}
.reactions {
  z-index: 2;
  position: relative;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  box-shadow: 0px -1px 8px 1px #e7e7e7;
}
.reactions * {
  font-size: 2rem;
  text-align: center;
}
.up,.down{
  color: #c2c2c2;
}
.animated-icon {
  cursor: pointer;
}

.animated-icon:active{
  animation: animate 0.5s ease-out;

}

.count {
  font-size: 1rem;
  color: #525252;
  display: flex;
  padding-left: 1rem;
  align-items: center;
}
@keyframes animate {
  25% {
    color: #3d8af7;
    transform: rotate(30deg);
  }
  50% {
    color: #3d8af7;
    transform: rotate(-15deg);
  }
  75% {
    color: #3d8af7;
    transform: rotate(15deg);
  }
  100% {
    color: #3d8af7;
    transform: rotate(-15deg);
  }
}
/* .reactions.checked-answer{
  color: #23c323 !important;
} */

.post-answer-editor {
  margin-top: 4rem;
}

#editor-postAnswer {
  height: 20em;
  font-size: 15px;
  border-top: 1px solid #e7e7e7 !important;
}

.header-text {
  font-weight: 500;
}

.unchecked-answer {
  font-size: 2rem;
  color: #525252;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.unchecked-answer:hover {
  color: #23c323;
  transition: all 1s linear;
}

/* quill */
.ql-snow .ql-editor pre.ql-syntax {
  background-color: #ebf5fb; /* <== change this color */
  color: #000000;
}
#q-desc {
  font-size: 17px;
}
.hljs-params {
  color: #000000;
}
.hljs-title {
  color: #2407a8;
}
.hljs-type {
  color: #044e2f;
}
.hljs-string {
  color: #42067a;
}
.hljs-built_in {
  color: #052e88;
}

.post-question-comment-container {
  height: 7rem;
  display: none;
  flex-direction: row;
}

.add-comment-btn {
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
}
.comment-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.post-question-comment-container textarea {
  margin: 0px;
  /* height: 8rem; */
  width: 100%;
  border: 1.5px solid #e7e7e7;
  resize: none;
  font-size: 15px;
  font-family: sans-serif;
  padding: 0.5rem;
  box-sizing: border-box;
}
.comments{
  display: flex;
  flex-flow: column;
  margin-top: 3rem;
  align-items: center;
}
.comment {
  display: flex;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-collapse: collapse;
  margin-top: -1px;
  padding: 1rem;
}
.comment *{
  margin: 0;
  margin-left: 0.5rem;
}
.comment .user{
  font-weight: 700;
  color: #33b9e2;;
} 