h3 {
  margin: 0 auto;
}

.question-card {
  display: flex;
  flex-flow: row;
  box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.09);
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background: var(--white-color);
}

.question-card .question {
  flex-flow: column;
}

.question-head a {
  text-decoration: none;
  color: #0f0f0f;
}

.description {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: darkslategrey;
}

.question-details {
  display: flex;
  flex-flow: row;
  padding-top: 1.4rem;
  color: rgb(168 168 168);
  align-items: center;
}

.question-addones {
  display: flex;
  flex-wrap: wrap;
}

.askedBy {
  display: flex;
  flex-flow: column-reverse;
}

.popularity {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-top: 1rem;
}

.askedBy img {
  height: 50px;
  width: 50px;
}

.user {
  text-align: center;
}

.user p {
  margin: 0.5rem 0 0.5rem 0;
}