.container {
	display: flex;
	flex-flow: column;
	width: 70%;
	justify-content: space-evenly;
	margin: 0 auto;
}
.confirm-page-form{
	display: flex;
	width: 80%;
	flex-flow: row;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.header{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 3rem;
}
.header-text {
	font-weight: 500;
	width: 90%;
	justify-content: center;
}
.profile {
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	overflow: hidden;
	border: 1px solid lightgray;
	height: 11rem;
	width: 17%;
	margin-top: 7rem;
	top: 1rem;
	justify-content: flex-end;
}
.details {
	width: 46%;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	min-height: 50rem;
}
.details textarea{
	margin: 0px;
	height: 13rem;
	width: 100%;
	border: 1px solid lightgray;
	resize: none;
	font-size: 15px;
	font-family: sans-serif;
	padding: 1.4rem;
	box-sizing: border-box;
}
.uploaded-image {
	margin: 0 auto;
	min-height: 9rem;
	width: 100%;
	padding-bottom: unset;
}
.btn-uploadPic {
	border: none;
	width: 100%;
	padding: non;
	height: 3rem;
}