
.confirm-page-form{
	display: flex;
	flex-flow: row;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	flex-flow: column;
	overflow: hidden;
	border: 1.5px solid #e7e7e7;
	height: 14rem;
	margin-top: 7rem;
	border-radius: 5px;
	background: white;
}

.details {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	min-height: 50rem;
	margin: 0 auto;
}
.details textarea{
	margin: 0px;
	height: 13rem;
	width: 100%;
	border: 1.5px solid #e7e7e7;
	resize: none;
	font-size: 15px;
	font-family: sans-serif;
	padding: 1.4rem;
	box-sizing: border-box;
}
.uploaded-image {
	margin: 0 auto;
	width: 100%;
	min-height: 11rem;
	box-sizing: border-box;
	padding-bottom: unset;
}
.btn-uploadPic {
	border: none;
	border-top: 1px solid #e7e7e7;
	width: 100%;
	padding: none;
	height: 3rem;
	font-weight: 900;
	cursor: pointer;

}