mixin navigationBar(authHref,user)
	div.nav
		a(href="/")
			div.logo
				img(src="/images/logo_transparent.png", alt="Concept Corner", srcset="")
		div.list
			.navInfo
				if pageName !='Confirm Details'
					if !user || user == 'undefined'
						.navLink
							a(href=authHref) Log in
						.navLink
							a(href=authHref) Sign up
					else
						.userImage
							img(src=user.profilePic, href='/profile' alt="", srcset="")
						.navLink
							a(href='/profile') #{user.username}
