mixin navigationBar(authHref)
	div.nav
		div.logo
			img(src="/images/logo_transparent.png", alt="Concept Corner", srcset="")
		div.list
			div
				a(href=authHref) Log in
			div
				a(href=authHref) Sign up
