include mixins/questioncard
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet",type="text/css",  href="/css/index.css")
		title HomePage
	body 

		div#root
			each name in users
				+questioncard( name)
		